.parent {
  height: 600px;
  width: 100%;
  background-color: purple;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card {
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(15, 15, 15);
  margin: 100px;
  position: relative;
  border-radius: 20px;
}
.photo {
  height: 150px;
  width: 150px;
  border-radius: 150px;
}
.card img {
  margin-top: 20px;
}
.name {
  color: white;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: x-large;
}
.place {
  color: white;
  margin-top: 20px;
  font-size: small;
}
.card p {
  font-size: large;
  color: white;
  text-align: center;
}
.click {
  background-color: purple;
  color: white;
  padding: 10px;
  border: 2px solid grey solid purple;
}
.touch {
  background-color: black;
  color: purple;
  padding: 10px;
  border: 2px solid grey solid purple;
}
.button {
  padding: 10px;
}
.icon {
  height: 15px;
  width: 30px;
  color: black;
  background-color: yellow;
  font-size: small;
  position: absolute;
  top: 30px;
  left: 20px;
  border-radius: 5px;
  padding: 2px solid grey;
  text-align: center;
}
.footer {
  height: 150px;
  width: 300px;
  background-color: black;
  color: white;
  margin-top: 20px;
}
.span {
  padding: 10px;
}
.a {
  padding: 5px;
  margin: 5px;
}
.b {
  background-color: black;
  color: white;
  font-size: x-small;
  padding: 5px;
  margin: 1px;
  /* border: 2px solid grey; */
}
.foot {
  font-size: small;
  margin-top: 10px;
}
